.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
}

.nav-link {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 30px;
}

.flex-row ul {
  list-style: none;
  color: black;
}

button {
  border: none;
  background-color: white;
}
